*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-size: cover;
    background: no-repeat;
    background-image: url("https://img.freepik.com/free-photo/galaxy-nature-aesthetic-background-starry-sky-mountain-remixed-media_53876-126761.jpg?w=1380&t=st=1704040939~exp=1704041539~hmac=a22cf764707e43c426cc9cd2d3944942d0a18a9178e59fdc1eed6ce93400bfd7");

}
 /*style for the header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.4rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*logo styling*/

.nav{

    position: absolute;
    width: 100%;
    height: 0;
    top: 100%;
    background: rgba(0,0,0,.1);
    transform: 0.4s ease;
    overflow: hidden;
    box-shadow: 0.6rem 1.2 rgba(0,0,0,rgba(0,0,0,.1));
    backdrop-filter:blur(50px);
}

.nav a ul li {
    font-size: 1.2rem;
    color: white;
    font-size: 600;
    text-decoration: none;
    margin-left: 2.6rem;

    
}

