* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serifs;
}
body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/galaxy-nature-aesthetic-background-starry-sky-mountain-remixed-media_53876-126761.jpg?w=1380&t=st=1704040939~exp=1704041539~hmac=a22cf764707e43c426cc9cd2d3944942d0a18a9178e59fdc1eed6ce93400bfd7");
  background-position: center;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.9rem 11%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
}
.logo img {
  max-width: 30%;
  border-radius: 10px;
}

.nav a {
  font-size: 1.2rem;
  color: white;
  font-size: 600;
  text-decoration: none;
  font-weight: 600;
  margin-left: 2.6rem;
}
#checkbox {
  display: none;
}

.icon {
  font-size: 2.9rem;
  color: white;
  cursor: pointer;
  position: absolute;
  display: none;
  right: 6%;
}
.containter {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  top:80px;
}
.facts-text {
  margin: 10px;
}
h1 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serifs;
  text-align: center;
}
h4 {
  font-size: 1rem;
}
h1,h4,p{
  color: #ebde95f3;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.7rem;
}
.gif{
  width:96%;
}

.gif img {
  width:96%;
  height:260px;
  margin-left:9px;
  border-radius: 40px;
}

.secend-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top:70px;
}
.video {
  width: 96%;
  margin:8px 18px 12px;
}

.video iframe {
  position: relative;
  border-radius: 10px;
  width: 95%;
  height: 290px;
  overflow: hidden;
}

.secend-text {
  margin: 5px;
  align-items: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 247, 255, 0.281);
  height: 40px;
}

#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}


@media screen and (min-width: 1200px) {
  .facts-text{
    background-color: rgba(0, 255, 255, 0.1);
    border-radius: 35px;

  }
  .facts-text:hover{
    background-color: rgba(240, 240, 240, 0.4);
 
   }
  
  
  .gif {
    margin-top: 50px;
    width: 45%;
    height: 350px;
  }
  .secend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .video iframe {
    width:45%;
    height: 200px;
    
  }
  .secend-text {
    background-color: rgba(0, 255, 255, 0.1);
    position: relative;
    width: 75%;
    border-radius: 35px;
  }

  .secend-text:hover{
   background-color: rgba(240, 240, 240, 0.4);

  }

}

@media screen and (min-width: 996px) {

  h1,p:hover{
    color: rgb(0, 255, 13); 

  }

  .facts-text{
    background-color: rgba(0, 255, 255, 0.1);
    border-radius: 35px;

  }
  .facts-text:hover{
    background-color: rgba(240, 240, 240, 0.4);}
  .containter {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 20px;
    justify-content: space-between;
  }



  h1 {
    font-size: 1.8rem;
    text-align: center;
    margin: 20px;
  }

  p {
    margin: 10px;
    font-size: 1.1rem;
  }

  .gif img {
    width: 100%;
    height:110%;
    margin: 5px;
    

  }
  .secend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .video{
    margin-top: 35px;
  }

  .video iframe {
    width: 100%;
    height: 350px;
    
  }

}
 

@media screen and (min-width: 768px) {
  .containter {
    align-items: center;
    margin-top: 20px;
  }

  .facts-text {
    text-align: left;
  }

  .gif {
    margin-top: 10px;
  }
  .git img{
    width: 96%;
    height: 550px;
  }

  
  .video {
    width: 96%;
  }
  .video iframe {
    margin: 15px; 

  }
  .secend-text {
    position: relative;
    text-align: center;
    width: 96%;
  }
  h1,h4,p{
    color: #ebde95f3;
    font-size:15px;
  }
}





@media (max-width: 996) {
  .header {
    padding: 1rem 4 %;
  }
}

@media (max-width: 800px) {
  .icon {
    display: inline-block;
  }

  #checkbox:checked ~ .icon #bx-menu {
    display: none;
  }

  .icon #k-menu {
    display: none;
  }
  #checkbox:checked ~ .icon #k-menu {
    display: block;
  }

  .nav {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.1);
    transition: 0.4s ease;
    overflow: hidden;
  }

  #checkbox:checked ~ .nav {
    height: 18rem;
  }
  .nav a {
    display: block;
    font-size: 1.2rem;
    margin: 1.6rem 0;
    text-align: center;
    transform: translateX(-50px);
    opacity: 0;
  }
  #checkbox:checked ~ .nav a {
    transform: translateX(0);
    transition-delay: 0.2s * var(--i);
    opacity: 1;
  }
}